.Search_Bar_Container {
  margin-top: 2rem;
}

.All_Produits_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.Produit_Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  background-color: white;
  margin: 2rem 1rem 0rem 1rem;
  max-width: 21rem;
  min-width: 21rem;
  min-height: 18rem;
}

.Produit_Container:hover {
  border: 1px solid #e90268;
  transition: 0.3s ease;
  transform: scale(105%);
}

.Produit_Container > h3 {
  margin-top: 0.5rem;
  color: black;
}

.Produit_Container > img {
  width: 10rem;
}

.Ref_Marque {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5rem 0rem;
  width: 20rem;
}

.Ref_Marque > p,
.Prix_Stock > p {
  color: black;
}

.Prix_Stock {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem 0rem;
  align-items: center;
  width: 20rem;
}

.Prix_Stock > p:first-child {
  font-size: 2rem;
}

.Produit_Container > p:last-child {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  text-justify: justify;
}
