.Savoir_Faire_Title {
  text-align: center;
  margin: 2rem 0.5rem 2rem 0.5rem;
}

.Savoir_Faire_Container > div > h1 {
  margin: 3rem 0rem;
}

.Savoir_Faire_Container > div > p {
  line-height: 1.2rem;
  margin-bottom: 4rem;
}

.Partenairs_List {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  gap: 2rem 0.5rem;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.Bosch,
.Facom,
.Hagh,
.Legrand,
.Stanley,
.Theolaur,
.V33,
.Abus,
.Sika,
.Blanchon,
.Norton,
.Revex {
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  height: 5rem;
  width: 12rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Facom,
.Legrand,
.Stanley,
.V33,
.Abus,
.Sika,
.Blanchon,
.Norton,
.Revex {
  gap: 1rem;
}

.Bosch > img,
.Facom > img,
.Hagh > img,
.Legrand > img,
.Stanley > img,
.Theolaur > img,
.V33 > img,
.Abus > img,
.Sika > img,
.Blanchon > img,
.Norton > img,
.Revex > img {
  width: 4rem;
}

.Bosch > p,
.Facom > p,
.Hagh > p,
.Legrand > p,
.Stanley > p,
.Theolaur > p,
.V33 > p,
.Abus > p,
.Sika > p,
.Blanchon > p,
.Norton > p,
.Revex > p {
  color: black;
}

.Bosch:hover,
.Facom:hover,
.Hagh:hover,
.Legrand:hover,
.Stanley:hover,
.Theolaur:hover,
.V33:hover,
.Abus:hover,
.Sika:hover,
.Blanchon:hover,
.Norton:hover,
.Revex:hover {
  border: 1px solid #e90268;
  transition: 0.3s ease;
  transform: scale(105%);
}

@media screen and (min-width: 768px) {
  .Savoir_Faire_Title > h1 {
    font-size: 2.2rem;
  }

  .Savoir_Faire_Container > div > p {
    font-size: 1.2rem;
  }

  .Bosch,
  .Facom,
  .Hagh,
  .Legrand,
  .Stanley,
  .Theolaur,
  .V33,
  .Abus,
  .Sika,
  .Blanchon,
  .Norton,
  .Revex {
    width: 14.5rem;
    height: 7rem;
  }

  .Bosch > img,
  .Facom > img,
  .Hagh > img,
  .Legrand > img,
  .Stanley > img,
  .Theolaur > img,
  .V33 > img,
  .Abus > img,
  .Sika > img,
  .Blanchon > img,
  .Norton > img,
  .Revex > img {
    width: 5rem;
  }

  .Bosch,
  .Facom,
  .Hagh,
  .Legrand,
  .Stanley,
  .Theolaur,
  .V33,
  .Abus,
  .Sika,
  .Blanchon,
  .Norton,
  .Revex {
    gap: 1rem;
  }

  .Bosch > p,
  .Facom > p,
  .Hagh > p,
  .Legrand > p,
  .Stanley > p,
  .Theolaur > p,
  .V33 > p,
  .Abus > p,
  .Sika > p,
  .Blanchon > p,
  .Norton > p,
  .Revex > p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 834px) {
  .Savoir_Faire_Container > div > p {
    margin: 0rem 3rem 3rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .Savoir_Faire_Container > div > p {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1260px) {
  .Savoir_Faire_Container {
    display: flex;
  }

  .Savoir_Faire_Explications {
    width: 120%;
    padding: 0rem 1rem 0rem 2rem;
  }

  .Savoir_Faire_Explications > h1 {
    font-size: 2.2rem;
  }

  .Savoir_Faire_Container > div > p {
    line-height: 1.8rem;
  }

  .Savoir_Faire_Explications > p {
    text-align: justify;
  }

  .Partenairs_List {
    gap: 1rem 0rem;
  }
}

@media screen and (min-width: 1440px) {
  .Savoir_Faire_Title {
    margin-top: 5rem;
  }

  .Savoir_Faire_Explications > p {
    margin-right: 2rem;
  }

  .Partenairs_List {
    gap: 1rem;
  }
}

@media screen and (min-width: 1690px) {
  .Savoir_Faire_Explications > h1 {
    font-size: 2.6rem;
  }

  .Savoir_Faire_Container > div > p {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
