.Description_Container {
  align-items: center;
  text-align: center;
  margin: 2rem 0.5rem 6rem 0.5rem;
}

.Description_Container > div > img {
  width: 24rem;
  margin: 0rem 0rem 3rem 0rem;
}

.Ref_Nom {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  margin-bottom: 3rem;
}

.Ref_Nom > h1 {
  margin-bottom: 3rem;
}

.Infos_Produit {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.Infos_Produit > p:last-child {
  font-size: 2rem;
  margin: 2rem 0rem;
}

.Description_Container > p {
  text-align: justify;
  margin: 0rem 0.5rem;
}

@media screen and (min-width: 768px) {
  .Description_Container > div {
    display: flex;
  }

  .Ref_Nom {
    margin: 3rem 0rem 0rem 1rem;
  }

  .Ref_Nom > p {
    font-size: 1.2rem;
  }

  .Infos_Produit > p:nth-child(2),
  .Infos_Produit > p:nth-child(1) {
    font-size: 1.2rem;
  }

  .Infos_Produit > p:last-child {
    font-size: 2.4rem;
  }

  .Description_Container > p {
    font-size: 1.4rem;
  }
}
