.Description_Container {
  align-items: center;
  text-align: center;
  margin: 2rem 0.5rem 0rem 0.5rem;
}

.Description_Container > div > img {
  width: 24rem;
}

.Ref_Nom {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  margin-bottom: 3rem;
}

.Ref_Nom > h1 {
  margin-bottom: 3rem;
}

.Infos_Produit {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.Infos_Produit > p:last-child {
  font-size: 2rem;
  margin: 2rem 0rem;
}

.Produit_Description > p {
  text-align: justify;
  margin: 3rem 1rem 4rem 1rem;
}

@media screen and (min-width: 768px) {
  .Description_Container {
    display: flex;
  }

  .Ref_Nom {
    margin-left: 1rem;
  }

  .Ref_Nom > p {
    font-size: 1.2rem;
  }

  .Infos_Produit > p:nth-child(1) {
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  .Infos_Produit > p:nth-child(2) {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .Infos_Produit > p:last-child {
    font-size: 2.4rem;
  }

  .Description_Container > p {
    font-size: 1.4rem;
  }

  .Produit_Description > p {
    font-size: 1.4rem;
    margin: 3rem 1.5rem;
  }
}

@media screen and (min-width: 834px) {
  .Description_Container > .Produit_Image {
    width: 100%;
  }

  .Produit_Image > img {
    width: 100%;
  }

  .Ref_Nom {
    width: 60%;
    margin-left: 0rem;
  }
}

@media screen and (min-width: 1024px) {
  .Ref_Nom {
    margin: 2rem 1rem 0rem -4rem;
  }
}

@media screen and (min-width: 1260px) {
  .Produit_Description > p {
    padding: 0rem 4rem;
  }
}
