.Home_Container {
  height: 100vh;
  border-bottom: 1px solid black;
}

.Home_Container > div > img {
  width: 100%;
}

.Home_Presentation {
  margin: 0.5rem;
  align-items: center;
  text-align: center;
}

.Home_Presentation > h1 {
  margin: 1rem 0rem;
}
