.Produits_Container {
  margin: 2rem 0.5rem;
}

.Produits_Container > h1 {
  text-align: center;
  margin: 4rem 0rem;
}

.Produits_List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem 1rem;
  margin: 2rem 0rem 8rem 0rem;
}

.Produits_List > a > div {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  height: 5rem;
  width: 11rem;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.Produits_List > a > div > img {
  width: 3rem;
}

.Produits_List > a > div:hover {
  border: 1px solid #e90268;
  transition: 0.3s ease;
  transform: scale(103%);
}

.Produits_List > a > div > p {
  color: black;
}

.Jardinage {
  background-color: rgb(55, 168, 55);
}

.Jardinage > img,
.Jardinage > p {
  color: white;
  filter: invert(100%);
}

.Electricite {
  background-color: yellow;
}

.Plomberie {
  background-color: rgb(97, 97, 238);
}

.Plomberie > img,
.Plomberie > p {
  color: white;
  filter: invert(100%);
}

.Bricolage {
  background-color: rgb(255, 186, 59);
}

.Couverture {
  background-color: brown;
}

.Couverture > img,
.Couverture > p {
  color: white;
  filter: invert(100%);
}

.Peinture {
  background-color: lightblue;
}

.Decoration {
  background-color: rgb(245, 190, 190);
}

@media screen and (min-width: 768px) {
  .Produits_List > a > div {
    width: 20rem;
    height: 8rem;
  }

  .Produits_List > a > div > img {
    width: 4.5rem;
  }

  .Produits_List > a > div > p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .Produits_List > a > div {
    width: 19rem;
  }
}
