.Produits_Container {
  margin: 2rem 0.5rem;
}

.Produits_Container > h1 {
  text-align: center;
}

.Produits_List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 2rem;
}

.Produits_List > a > div {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  height: 5rem;
  width: 11rem;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.Produits_List > a > div > img {
  width: 3rem;
}

.Produits_List > a > div:hover {
  border: 1px solid #e90268;
  transition: 0.3s ease;
}

.Produits_List > a > div > p {
  color: black;
}
