.Produits_Container {
  margin: 2rem 0.5rem;
}

.Produits_Container > h1 {
  text-align: center;
  margin: 4rem 0rem;
}

.Produits_List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem 1rem;
  margin: 2rem 0rem 8rem 0rem;
}

.Produits_List > a > div {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  height: 5rem;
  width: 11rem;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.Produits_List > a > div > img {
  width: 3rem;
}

.Produits_List > a > div:hover {
  border: 1px solid #e90268;
  transition: 0.3s ease;
}

.Produits_List > a > div > p {
  color: black;
}

@media screen and (min-width: 768px) {
  .Produits_List > a > div {
    width: 20rem;
    height: 8rem;
  }

  .Produits_List > a > div > img {
    width: 4.5rem;
  }

  .Produits_List > a > div > p {
    font-size: 1.5rem;
  }
}
