.Home_Container > div > img {
  width: 100%;
}

.Home_Presentation {
  margin: 2rem 0.5rem;
  align-items: center;
  text-align: center;
}

.Home_Presentation > h1 {
  margin: 1rem 0rem;
}

.Home_Presentation > h3 {
  margin-bottom: 2rem;
}

.Home_Presentation > h4 {
  margin-bottom: 2rem;
}

.Home_React > div > img {
  width: 3rem;
}

.Home_Delivery > div > img {
  width: 3rem;
}

.Home_Decoupe > div > img {
  width: 4rem;
}

.Home_Couleurs > div > img {
  width: 4rem;
}

.Home_React > div,
.Home_Delivery > div,
.Home_Decoupe > div,
.Home_Couleurs > div {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.Home_React > p,
.Home_Delivery > p,
.Home_Decoupe > p,
.Home_Couleurs > p {
  margin: 0rem 1rem 3rem 1rem;
  line-height: 1.2rem;
}
