.Home_Image > img {
  width: 100%;
}

.Home_Presentation {
  margin: 2rem 0.5rem;
  align-items: center;
  text-align: center;
}

.Home_Presentation > h1 {
  margin: 1rem 0rem;
}

.Home_Presentation > h3,
.Home_Container > h4 {
  text-align: center;
  margin-bottom: 2rem;
}

.Home_React > div > img,
.Home_Delivery > div > img {
  width: 3rem;
}

.Home_Decoupe > div > img,
.Home_Couleurs > div > img {
  width: 4rem;
}

.Home_React > div,
.Home_Delivery > div,
.Home_Decoupe > div,
.Home_Couleurs > div {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.Home_React > p,
.Home_Delivery > p,
.Home_Decoupe > p,
.Home_Couleurs > p {
  margin: 0rem 1rem 3rem 1rem;
  line-height: 1.2rem;
}

@media screen and (min-width: 768px) {
  .Home_Container {
    margin-bottom: 3rem;
  }

  .Devanture_Titre {
    display: flex;
    margin-bottom: 3rem;
  }

  .Home_Presentation > h1 {
    margin: 0;
    font-size: 2.4rem;
  }

  .Home_Presentation > h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .Home_Container > h4 {
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }

  .Avantages_Container {
    display: flex;
    margin: 2rem 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Avantages_Container > div {
    width: 49%;
  }

  .Avantages_Container > div > div > img {
    width: 4rem;
  }

  .Avantages_Container > div > div > p {
    font-size: 1.5rem;
  }

  .Avantages_Container > div > p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .Home_Image {
    width: 85%;
  }

  .Home_Presentation > h1 {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }

  .Home_Presentation > h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1260px) {
  .Home_Image {
    width: 78%;
  }

  .Home_Presentation > h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .Home_Presentation > h3 {
    font-size: 1.7rem;
  }

  .Home_Container > h4 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1480px) {
  .Home_Image {
    width: 67.5%;
  }

  .Home_Presentation > h1 {
    font-size: 3rem;
  }

  .Home_Presentation > h3 {
    padding: 1rem 1rem;
  }

  .Avantages_Container {
    margin: 2rem 1rem;
  }

  .Avantages_Container > div {
    width: 45%;
  }
}

@media screen and (min-width: 1690px) {
  .Home_Image {
    width: 60%;
  }

  .Home_Presentation > h1 {
    font-size: 3.5rem;
  }

  .Home_Presentation > h3 {
    padding: 4rem 2rem;
    font-size: 2rem;
  }

  .Home_Container > h4 {
    font-size: 2.4rem;
  }

  .Avantages_Container > div {
    width: 40%;
    margin: 0rem 3rem;
  }

  .Avantages_Container > div > div > p {
    font-size: 2.4rem;
  }

  .Avantages_Container > div > p {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
