.Footer_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-top: 2rem;
  border-top: 1px solid black;
}

.Footer_Infos > div > h1 {
  font-size: 1.5rem;
}

.Footer_Infos > div > p {
  margin: 1rem;
}

.Footer_Horaires > div > p {
  margin: 1rem;
}

.Footer_Maps {
  display: flex;
  margin: 2rem 0rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Footer_Maps > img {
  width: 3rem;
}

.Footer_Maps > li > a {
  color: black;
}

.Footer_Maps > li > a:hover {
  color: #e90268;
  transition: 0.3s ease;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .Footer_Container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
