.Header_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header_Container > img:first-child {
  width: 6rem;
}

.Burger_Menu {
  width: 2rem;
  margin-right: 1rem;
  z-index: 2;
}

.Burger_Links {
  width: 100%;
  position: absolute;
  text-align: center;
  padding-top: 12rem;
  background-color: #f1f8e0;
  z-index: 1;
}

.Burger_Links > ul > li {
  padding: 2rem 0rem 0rem 0rem;
}

.Burger_Links > ul > li:last-child {
  margin-bottom: 2rem;
}
